@charset "utf-8";
body,p,ul,div,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html{
	background: #E9ECF0;
	display: block;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
body{
	width: 100%;
    max-width: 640px;
    margin: 0 auto;
    color: #333;
    font-family: SourceHanSansCN, -apple-system, Verdana, Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
a{
	text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-focus-ring-color: transparent;
}
li{
	list-style:none;
}
img{
	width: 100%;
	vertical-align: middle;
}
body img{
	pointer-events:none;
}
i,em{
	font-style: normal;
}	
b,strong{
	font-style: normal;
}
 @media screen and (min-width: 640px){
	html,body{
		font-size: 24px;
	}
} 
@media screen and (max-width: 640px){
	html,body{
		font-size: 16px;
	}
}